@tailwind base;
@tailwind components;
@tailwind utilities;

.bg {
  background-image: url("../../public/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 470px;
}

.customUL li:before {
  content: "✓";
  margin-right: 1rem;
  color: #85bb25;
  font-weight: bold;
}
